---
title: Template Index
---

{% extends "layouts/_default.html" %}


{% block content %}
<div class="wrap">
  <h1 style="margin-top: 2rem;">Texas Woman's University</h1>
  <ul style="margin-bottom: 3rem;">
    <li><a href="academics.html">Academics Landing Page</a></li>
    <li><a href="departments.html">Department Landing Page</a></li>
    <li><a href="universal.html">Universal Page</a></li>
    <li><a href="program-finder.html">Program Finder</a></li>
    <li><a href="home.html">Homepage</a></li>
    <li><a href="listing.html">Listing Page</a></li>
    <li><a href="giving.html">Giving Page</a></li>
    <li><a href="resource-finder.html">Resource Finder</a></li>
    <li><a href="residence.html">Residence Hall</a></li>
    <li><a href="search.html">Search Results</a></li>
    <li><a href="form.html">Sample Form</a></li>
  </ul>
</div>


{% endblock %}