.align-left,
.align-right {
  margin-bottom: 1.25rem;

  @include mq(48em) {
    max-width: 33.3333%;
  }
}

.align-left {
  @include mq(48em) {
    margin-right: 1.25rem;
    float: left;
  }
}

.align-right {
  @include mq(48em) {
    margin-left: 1.25rem;
    float: right;
  }
}

.align-small {
  @include mq(48em) {
    max-width: 25%;
  }
}

.align-zero {
  @include mq(48em) {
    margin-bottom: 0;
  }
}

.full-width {
  @include spacing(2);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.vertical-center-parent {
  display: table;
  table-layout: fixed;
}

.vertical-center-child {
  display: block;
  @include mq(48em) {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

}

.indent {
  @include zero;
  @include spacing(4);
  padding-left: 1.25rem;
  border-left: 0.5rem solid $blue;
}

.hide {
  @include hide;
}

.skip a {
  position: absolute;
  left: -10000rem;
  top: -2rem;
  width: .1rem;
  height: .1rem;
  overflow: hidden;
  z-index: 100;
  color: $white;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-bottom-right-radius: .3rem;
  transition: top 1s ease-out;
  &:focus {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background: $red;
    transition: top .1s ease-in;
  }
}

.mobile--hidden {
  position: absolute;
  left: -999rem;
  @include mq(64em) {
    position: static;
    left: 0;
  }
}

.break {
  &:after {
    content: "\000A";
    white-space: pre;
    @include mq(64em) {
      content: "\000A";
    }
  }
}


// Color classes for stylesheet

.color__box {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.maroon {
  background-color: $maroon;
}

.white {
  background-color: $white;
  border: .1rem solid $gray-light;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.yellow {
  background-color: $yellow;
}

.orange {
  background-color: $orange;
}

.gray-lighter {
  background-color: $gray-lighter;
}

.gray-light {
  background-color: $gray-light;
}

.gray {
  background-color: $gray;
}

.black {
  background-color: $black;
}

.red-gradient {
  background-image: $red-gradient;
}

.orange-gradient {
  background-image: $orange-gradient;
}

.blue-gradient {
  background-image: $blue-gradient;
}


.zoomin {
  opacity: 0;
}

.zoomin--active {
  animation: zoomin $transition-speed * 2 $transition-easing;
}