.btn {
  font-family: $sans-serif;
  @include font-size(17);
}


.btn-default {
  padding: 0.6rem 0.8rem;
  margin: 0.5rem 0;
  &:hover {
    background-color: $maroon;
    color: $white;
    border-color: $maroon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:active {
    color: $maroon;
    background-color: $white;
    box-shadow: none;
  }
}

.btn-primary {
  padding: 0.6rem 0.8rem;
  background-color: $maroon;
  color: $white;
  border-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover, &:focus {
    border-color: $maroon;
    background-color: $white;
    color: $maroon;
  }
  &:active {
    background-color: $white !important;
    color: $maroon !important;
    box-shadow: none;
    border-color: $maroon !important;
  }
}

.btn-light {
  padding: 0.6rem 0.8rem;
  text-align: left;
  margin: 0.5rem;
  color: $white;
  border-color: $white;
  &:hover,
  &:focus {
    background-color: $white;
    color: $red;
  }
}

.btn--full-width {
  display: block;
}

