// Bootstrap overrides not covered in var.scss

.panel {
  box-shadow: none;
  font-family: $serif;
  p {
    margin-top: 1rem;
  }
}

.panel-heading {
  border-bottom: 0;
  padding: 0;
  h4 {
    @include font-size(17);
  }
  a {
    display: block;
    color: $maroon;
    padding: 10px 15px;
    &:hover{
      background-color: $maroon;
      color: $white;
    }
  }

}

.panel-arrow {
  position: absolute;
  right: 1rem;
  width: 2rem;
  padding: 0.2rem;
}