.search__wrap {
  @include hide;
  padding: 1rem 0;
  background: $maroon;
  color: $black;
  visibility: hidden;
  .wrap {
    position: relative;
  }

  .search-active & {
    @include show;
    visibility: visible;
    top: 3rem;
    position: fixed;
    width: 100%;
    z-index: 11;
    @include mq(64em) {
      top: 0;
    }
  }
}

.search__form {
  @include clear;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  @include mq(64em) {
    width: 80%;
    margin-left: 10rem;
  }
}

.search__input {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  border: 0;
  background: $white;
  color: $black;
  &::placeholder {
    color: $gray;
  }
  @include font-size(17);
  border-radius: .3rem;
}

.search__button {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 3rem;
  padding: 0.6875rem;
  overflow: hidden;
  background: transparent;
  border: 0;
  color: $maroon;
}

.search__label {
  font-family: $sans-serif;
  @include font-size(15);
  text-transform: uppercase;
}

.search__close {
  background-color: $maroon;
  float: right;
}

.search__close--icon {
  display: block;
  width: 1rem;
  height: 1rem;
  color: $white;
}

.program__search__form {
  @include clear;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
}

.program__search__button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 3rem;
  padding: 0.6875rem;
  overflow: hidden;
  background: transparent;
  border: 0;
  color: $maroon;
}

.gsc-control-wrapper-cse * {
  box-sizing: content-box;
}

form.gsc-search-box {
  line-height: 1;
}

.gsst_a .gscb_a {
  color: #850928 !important;
}
.gsc-control-wrapper-cse {
  .gs-webResult.gs-result > * {
    padding-left: 0;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  margin-right: 12px !important;
  font-size: 1rem;
}

.cse .gsc-control-cse, .gsc-control-cse {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gsst_a .gscb_a {
  line-height: .8;
}

.gsc-result .gs-title {
  height: 2rem !important;
  font-size: 20px;
  font-size: 1.25rem !important
}

.gsc-result .gs-title * {
  font-size: 20px;
  font-size: 1.25rem !important
}
.gsc-control-wrapper-cse .gs-webResult.gs-result>* {
  font-family: $serif !important;
  font-size: 16.25px;
  font-size: 1.016rem !important;
}

.gsc-url-top {
  font-size: 16px;
  font-size: 1rem !important;
}

.gsc-input-box {
  height: 36px !important;
}

.gsc-input-box input[type=text] {
  height: 30px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  padding: 12px 27px !important;
  margin-top: 0 !important;
}