.topbar {
  display: none;
  @include mq(64em) {
    background: $gray-lighter;
    display: block;
  }
}

.topbar__list--left {
  float: left;
}

.topbar__list--right {
  float: right;
  .topbar__list {
    border-right: 0;
  }
}

.topbar__list {
  @include clean;
  float: left;
  padding: 0 0.5rem 0 0;
  position: relative;
  &:last-child {
    padding-right: 0;
  }
  li {
    display: inline-block;
    margin: 0;
  }
  ul li {
    display: block;
  }
  a {
    height: 3rem;
    line-height: 3rem;
    padding: 0.5rem;
    background-image: none;
    color: #413F46;
    font-family: $sans-serif;
    @include font-size(14);
    &:hover,
    &:focus {
      background-image: none;
      color: $maroon;
    }
  }
}

.topbar__list + .topbar__list:before {
  content: " | ";
  padding: 0.2rem;
}

.topbar__dropdown {
  position: relative;
  z-index: 4;
}

.topbar__dropdown__toggle {
  .topbar__dropdown--active & {
    color: $blue;
  }
}

.topbar__dropdown__icon {
  width: .875rem;
  margin-top: 1.1rem;
  float: right;
  margin-right: 0.3rem;

  .topbar__dropdown--active & {
    transform: rotate(180deg);
  }
}


.topbar__dropdown__list {
  @include hide;
  position: absolute;
  top: 3rem;
  margin: 0;
  padding: 0.5rem 1rem;
  background: $gray-lighter;
  color: $blue;
  list-style: none;
  visibility: hidden;
  z-index: -1;
  a {
      line-height: 2.5rem;
  }


  .topbar__dropdown--active & {
    right: -10rem;
    left: -1rem;
    visibility: visible;
  }
}